<h1>INDEX</h1>
<%= link_to 'New', new_task_url %>

<% @tasks.each do |task| %>
   <p> <%= check_box('tag', task.id, {checked: task.completed}) %> <%= link_to task.title, task_path(task)  %></p>
<% end %>
