<h1>SHOW</h1>


 </p>
<p> <%= @task.detail %> </p>

<%= link_to 'Edit', edit_task_path %>
<%= link_to "Delete", task_path(@task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>


<%= link_to 'Back', tasks_path %>
